*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url(../images/Vector-4.png), url(../images/Vector-5.png);
    background-repeat: no-repeat;
    background-position: top center, right bottom;
}